 .container {
    background-color: rgba(115, 186, 155, 1);
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
 } 

 .logo-image {
    width: 150px;
 }

 .logo {
    margin-left: 40px;
 }

 .nav-bar {
    display: flex;
    margin-right: 50px;
    gap: 30px;
 }

 .nav-bar a {
    text-decoration: none;
    color: white;
 }