@import url('../../assets/font/fonts.css');

.register-container {
    display: flex;
    font-family: "Inter", sans-serif;

}

.image-panel {
    display: flex;
    position: relative;
    width: 27vw;
    height: 125vh;
    align-items: end;
    background-size: cover;
}

.image-panel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    z-index: 1;
    }

.text-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    text-align: center;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
}

.overlay-text {
    font-family: "JetBrains Mono", monospace;
    font-weight: 200;
    font-size: xx-large;
    margin: 0;
}

.right {
    width: 70vw;
}

.registration-heading {
    text-align: center;
    
}

.account-information {
    margin-left: 6rem;
}

.reg-heading {
    font-family: "Inter", sans-serif; 
    font-weight: 200;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.acc-type {
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}

.accountType {
    width: 50px;
}

.accType-label {
    margin-bottom: 15px;
}

.accType-select {
    width: 215px;
    margin-bottom: 15px;
    height: 5vh;
    background-color: rgba(0, 62, 31, 1);
    color: white;
    border-radius: 3px;
    outline: none;
    font-size: large;
}

.row-labels {
    font-size: small;
    font-weight: 300;
}

.personalInformation-heading {
    font-size: large;
    font-weight: 400;
}

.personalInformation-msg {
    font-size: large;
    font-weight: 200;
}

.threeRow {
    display: flex;
    margin-bottom: 20px;
}

.rowInput {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 2;
    margin-right: 0.5rem;
}

.twoRow {
    display: flex;
    gap: 2rem;
    
}

.acc-information-title {
    margin-bottom: 25px;
}

.acc-title {
    font-weight: 400;
}

.addressInputField {
    width: 80%;
    height: 3vh;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
}

.inputField {
    height: 3vh;
    border-radius: 3px;
    outline: none;
    border: 1px solid grey;
}

.inputField:focus {
    outline: none;
    border: 2px solid #4299e1;
    border-radius: 3px;
    
}

.addressInputField:focus {
    outline: none;
    border: 2px solid #4299e1;
    border-radius: 3px;

}

.residentialAddress {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.residentialAddressText {
    font-size: larger;
    font-weight: 400;
}

.submitButton {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
}

.registerButton {
    width: 20vw;
    height: 6vh;
    background-color: rgba(0, 62, 31, 1);
    color: white;
    border-radius: 4px;
    font-size: larger;
}